@import url('https://fonts.googleapis.com/css2?family=Besley&family=Roboto:wght@500&family=Unbounded:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Besley', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Unbounded', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 782px;
    background-image: url('media/Rectangle 3.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.header-wrapper {
    width: 100%;
    height: inherit;
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.80) 0%, rgba(238, 61, 27, 0.80) 100%);
}

.header-contain {
    width: 80%;
    padding-top: 55px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

nav {  
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    transition: .4s;
}

.burger-btn {
    width: 45px;
    height: 35px;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1.5px solid white;
    cursor: pointer;
}
.burger-btn span {
    position: absolute;
    width: 35px;
    height: 1px;
    background-color: white;
    transition: .4s;
}
.burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}
.burger-btn span:nth-child(3) {
    transform: translateY(10px);
}

.open {
    display: flex;
    height: 260px;
    overflow: none;
}
.descent {
    transform: translateY(100px);
}

nav.open ~ .burger-btn span:nth-child(1) {
    transform: rotate(135deg);
}
nav.open ~ .burger-btn span:nth-child(2) {
    opacity: 0;
}
nav.open ~ .burger-btn span:nth-child(3) {
    transform: rotate(-135deg);
}

@media screen and (max-width: 1100px){
    .header-contain {
        justify-content: space-between;
        margin: 0 auto;
    }
    nav {
        height: 0;
        overflow: hidden;
        width: auto;
        position: absolute;
        right: 6.8%;
        top: 100px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    nav>ul {
        padding-top: 20px;
        flex-direction: column;
    }
    .burger-btn {
        display: flex;
    }
}
@media screen and (max-width: 600px) {
    nav {
        right: 5.8%;
    }
    nav>ul {
        font-size: 14px;
    }
}
@media screen and (max-width: 400px) {
    nav {
        gap: 5px;
        right: 5%;
    }
    nav>ul {
        font-size: 12px;
    }
    .login-btn {
        max-width: 70px;
        min-height: 15px;
    }
    .login-btn p {
        font-size: 14px;
    }
    .open {
        height: 240px;
    }
}

.header-contain>.logo {
    display: flex;
    align-items: center;
}
.header-contain>.logo>p {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

nav>ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 22px;
    margin: 0 auto;
}
nav>ul>li>a {
    font-family: Roboto;
    color: #FFF;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #FFF;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
}

/*header overview*/

.header-overview {
    max-width: 540px;
    height: auto;
    margin: 177px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    transition: .5s;
}
.header-overview>h1 {
    color: #FFF;
    font-family: Roboto;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.6px;
    text-transform: uppercase;
}
.header-overview>p {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 36px */
}
.header-overview-btn {
    width: 160px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: #FFF;
    cursor: pointer;
}
.header-overview-btn>p {
    color: #ED4C5C;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .header-overview>h1 {
        font-size: 50px;
    }
    .header-overview>p {
        font-size: 18px;
    }
}
@media screen and (max-width: 430px) {
    .header-overview>h1 {
        font-size: 30px;
    }
    .header-overview>p {
        font-size: 18px;
    }
}

/*OVERVIEW*/

main>section:nth-child(1) {
    padding-top: 94px;
    margin-bottom: 95px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
}
main>section:nth-child(1)>div {
    /* max-width: 1115px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 125px;
}
main>section:nth-child(1)>div>div {
    max-width: 445px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main>section:nth-child(1)>div>div>h2 {
    color: #000;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 42px;
}
main>section:nth-child(1)>div>div>p {
    color: #000;
    text-align: justify;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    margin-bottom: 21px;
}
main>section:nth-child(1)>div>div>a {
    color: #ED4C5C;
    text-align: justify;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    text-decoration: none;
}
main>section:nth-child(1)>div>img {
    max-width: 445px;
    flex-shrink: 0;
}

@media screen and (max-width: 1100px) {
    main>section:nth-child(1)>div {
        flex-direction: column-reverse;
        gap: 30px;
    }
}
@media screen and (max-width: 600px) {
    main>section:nth-child(1)>div>img {
        width: 345px;
        flex-shrink: 0;
    }
    main>section:nth-child(1)>div>div>p,
    main>section:nth-child(1)>div>div>h2,
    main>section:nth-child(1)>div>div>a {
        padding: 0 50px;
    }
}

/* POSSIBILITIES */
main>section:nth-child(2) {
    padding-top: 63px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

main>section:nth-child(2)>h2 {
    margin-bottom: 73px;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
main>section:nth-child(2)>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
    padding-bottom: 124px;
}
main>section:nth-child(2)>div>.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main>section:nth-child(2)>div>.card>div {
    padding: 26px 0 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 293px;
    height: auto;
    margin-top: -92px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.10);
}
main>section:nth-child(2)>div>.card>div>h3 {
    width: 229px;
    color: #101010;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
main>section:nth-child(2)>div>.card>div>p {
    width: 229px;
    color: #101010;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
}
main>section:nth-child(2)>div>.card>div>a {
    color: #ED4C5C;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
    text-decoration: none;
}

/* TECHNOLOGIES */

main>section:nth-child(3) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 52px;
    padding-bottom: 104px;
}
main>section:nth-child(3)>h2 {
    padding-top: 63px;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
main>section:nth-child(3)>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
main>section:nth-child(3)>div>.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 255px;
    height: 226px;
    background: #FFF;
    text-align: center;
}
main>section:nth-child(3)>div>.card>h3 {
    color: #101010;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
main>section:nth-child(3)>div>.card>p {
    padding-top: 11px;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* SECTION 4 */

main>section:nth-child(4) {
    width: 100%;
    min-height: 500px;
    background: #ED4C5C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 125px;
}
main>section:nth-child(4)>div {
    min-height: 311px;
    display: flex;
    gap: 125px;
    align-items: center;
}
main>section:nth-child(4)>div>.text-contain {
    max-width: 445px;
}
main>section:nth-child(4)>div>.text-contain>h3 {
    padding-bottom: 48px;
    color: #FFF;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
main>section:nth-child(4)>div>.text-contain>p {
    padding-bottom: 40px;
    color: #FFF;
    text-align: justify;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
}
main>section:nth-child(4)>div>.text-contain>.icons-contain {
    display: flex;
    gap: 23px;
}
main>section:nth-child(4)>div>.text-contain>.icons-contain>svg{
    cursor: pointer;
}

@media screen and (max-width: 1100px) {
    main>section:nth-child(4)>div {
        flex-direction: column-reverse;
        gap: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
@media screen and (max-width: 600px) {
    main>section:nth-child(4)>div>img {
        width: 345px;
    }
    main>section:nth-child(4)>div>.text-contain {
        text-align: center;
    }
    main>section:nth-child(4)>div>.text-contain>p {
        padding: 0 40px  40px;
    }
    main>section:nth-child(4)>div>.text-contain>.icons-contain {
        padding: 0 40px;
    }
}

/* SECTION 5: FORM */

main>section:nth-child(5) {
    width: 100%;
    min-height: 500px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
main>section:nth-child(5)>div {
    max-width: 1130px;
    min-height: 218px;
    display: flex;
    gap: 145px;
}
main>section:nth-child(5)>div>.text-block {
    max-width: 445px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main>section:nth-child(5)>div>.text-block>h2 {
    height: 107px;
    color: #000;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
main>section:nth-child(5)>div>.text-block>p {
    height: 64px;
    color: #000;
    text-align: justify;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
}

main>section:nth-child(5)>div>form {
    width: 540px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
@media screen and (max-width: 1240px){
    main>section:nth-child(5)>div {
        gap: 45px;
    }
}
@media screen and (max-width: 1100px) {
    main>section:nth-child(5)>div {
        flex-direction: column-reverse;
        gap: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
@media screen and (max-width: 600px) {
    main>section:nth-child(5)>div {
        max-width: 345px;
    }
    main>section:nth-child(5)>div>form {
        width: 345px;
    }
}
@media screen and (max-width: 400px) {
    main>section:nth-child(5)>div>form {
        width: 245px;
    }
    main>section:nth-child(5)>div>form>input {
        width: 100%;
    }
    main>section:nth-child(5)>div>form>input:last-child {
        margin-left: 31px;
        min-width: 281px;
        align-self: center;
    }
}

main>section:nth-child(5)>div>form>input:not(:last-child) {
    max-width: 100%;
    height: 60px;
    padding-left: 31px;
    color: rgba(19, 39, 67, 0.50);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
main>section:nth-child(5)>div>form>input:last-child {
    width: 160px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1.5px solid #ED4C5C;
    background: #ED4C5C;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
}

/* FOOTER */

footer {
    width: 100%;
    height: 245px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer>div {
    width: 1130px;
    /* width: 254px; */
    height: 154px;
    display: flex;
    flex-direction: column;
}
footer>div>h3 {
    margin-bottom: 19px;
    color: #101010;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
footer>div>p {
    margin-bottom: 45px;
    color: #101010;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
}
footer>div>span {
    color: #101010;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 48px;
}

@media screen and (max-width: 1100px) {
    footer>div {
        width: 540px;
    }
}
@media screen and (max-width: 600px) {
    footer>div {
        width: 345px;
        margin: 0 auto;
    }
}